/* Utils */
[ class^= 'col' ] {
    min-height: 10px;
    border: 1px dashed red;
}
hr {
    opacity: 1;
}

section {
    margin-bottom: 40px;
    padding: 20px 0;
    border: 1px dashed fuchsia;
}

/* Header  */
header {
    background-color: #2C3E50;
}


/* Sections */
#about,
#jumbotron {
    background-color: #1ABC9C;
}

#about [ class^= 'col' ],
#contact [ class^= 'col' ] {
    min-height: 20px;
    border: 2px dashed orangered;
}

