/* Utils */
[ class^= 'col' ] {
    min-height: 40px;
    border: 1px dashed red;
}

section {
    margin-bottom: 40px;
    padding: 20px 0;
    border: 1px dashed fuchsia;
}

/* Header  */
header {
    min-height: 40px;
    background-color: #2C3E50;
}

/* Nav */
header nav > * {
    color: #fff;
}

/* Sections */
#about,
#jumbotron {
    background-color: #1ABC9C;
}

#jumbotron [ class^= 'col' ] {
    min-height: 300px;
    color: #fff;
} 

#about [ class^= 'col' ],
#contact [ class^= 'col' ],
#portfolio [ class^= 'col' ] {
    min-height: 80px;
    border: 2px dashed orangered;
}

