/* Utils */
[ class^= 'col' ] {
    min-height: 40px;
    border: 1px dashed red;
}







/* Header */
header {
    height: 40px;
    background-color: #2C3E50;
}

nav > * {
    color: #fff;
}


/* Jumbotron */
.jumbotron {
    background-color: #1ABC9C;
}

.jumbotron [ class^= 'col' ] {
    min-height: 300px;
    color: #fff;
} 